version = 1


[install]
python312.pkg-path = "python312"


[vars]


[hook]


[profile]


[services]


[include]


[build]


[options]
# Systems that environment is compatible with
# systems = [
#   "aarch64-darwin",
#   "aarch64-linux",
#   "x86_64-darwin",
#   "x86_64-linux",
# ]
# Uncomment to disable CUDA detection.
# cuda-detection = false
